@import "./footer_custom";

// Font

@font-face{
    font-family: 'Poppins';
    font-weight: 400;
    src: url(../fonts/poppins-regular-webfont.woff2) format(woff2),
         url(../fonts/poppins-regular-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/poppins-italic-webfont.woff2) format(woff2),
         url(../fonts/poppins-italic-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 100;
    src: url(../fonts/poppins-thin-webfont.woff2) format(woff2),
         url(../fonts/poppins-thin-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 100;
    font-style: itlaic;
    src: url(../fonts/poppins-thinitalic-webfont.woff2) format(woff2),
         url(../fonts/poppins-thinitalic-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 200;
    src: url(../fonts/poppins-extralight-webfont.woff2) format(woff2),
         url(../fonts/poppins-extralight-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 200;
    font-style: italic;
    src: url(../fonts/poppins-extralightitalic-webfont.woff2) format(woff2),
         url(../fonts/poppins-extralightitalic-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 300;
    src: url(../fonts/poppins-light-webfont.woff2) format(woff2),
         url(../fonts/poppins-light-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/poppins-lightitalic-webfont.woff2) format(woff2),
         url(../fonts/poppins-lightitalic-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 500;
    src: url(../fonts/poppins-medium-webfont.woff2) format(woff2),
         url(../fonts/poppins-medium-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 500;
    font-style: italic;
    src: url(../fonts/poppins-mediumitalic-webfont.woff2) format(woff2),
         url(../fonts/poppins-mediumitalic-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 600;
    src: url(../fonts/poppins-semibold-webfont.woff2) format(woff2),
         url(../fonts/poppins-semibold-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 600;
    font-style: italic;
    src: url(../fonts/poppins-semibolditalic-webfont.woff2) format(woff2),
         url(../fonts/poppins-semibolditalic-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 700;
    src: url(../fonts/poppins-bold-webfont.woff2) format(woff2),
         url(../fonts/poppins-bold-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/poppins-bolditalic-webfont.woff2) format(woff2),
         url(../fonts/poppins-bolditalic-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 800;
    src: url(../fonts/poppins-extrabold-webfont.woff2) format(woff2),
         url(../fonts/poppins-extrabold-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 800;
    font-style: italic;
    src: url(../fonts/poppins-extrabolditalic-webfont.woff2) format(woff2),
         url(../fonts/poppins-extrabolditalic-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 900;
    src: url(../fonts/poppins-black-webfont.woff2) format(woff2),
         url(../fonts/poppins-black-webfont.woff) format(woff);
}

@font-face{
    font-family: 'Poppins';
    font-weight: 900;
    font-style: italic;
    src: url(../fonts/poppins-blackitalic-webfont.woff2) format(woff2),
         url(../fonts/poppins-blackitalic-webfont.woff) format(woff);
}

body {font-family: 'Poppins', sans-serif;
font-weight: 400;}

h1 {font-weight: 500;}

h2{font-weight: 500;}

h3 {font-weight: 500;}

h4{font-weight: 500;}

.nav-list-link {
    font-weight: 400;
    color: #FFFFFF;
}

// Color

a {
    color: #3371E7;
}

a:not([class]) {
    text-decoration: underline;
    text-decoration-color: $border-color;
    text-underline-offset: 2px;
  
    &:hover {
      text-decoration-color: rgba(#3371E7, 0.45);
    }
  }

.main-content .anchor-heading svg {
    color: #3371E7;
}

.main-content .anchor-heading svg {
    color: #3371E7;
}

.icon {
    color: #3371E7;  
}

.nav-list .nav-list-item .nav-list-expander {
    color: #FFFFFF;  
}

.nav-category {
    color: #FFFFFF;  
}

.nav-list.nav-category-list > .nav-list-item > .nav-list > .nav-list-item > .nav-list-link {
    color: #FFFFFF;  
}

.nav-list.nav-category-list > .nav-list-item > .nav-list > .nav-list-item > .nav-list-expander {
    color: #FFFFFF;  
}

.btn {
    color: #3371E7;  
}

.btn-outline {
    color: #3371E7;  
}

.btn-outline:hover, .btn-outline:active, .btn-outline.zeroclipboard-is-hover, .btn-outline.zeroclipboard-is-active {
    color: #3371E7; 
}

.search-input:focus + .search-label .search-icon {
    color: #3371E7; 
}

.search-result-doc .search-result-icon {
    color: #3371E7; 
}

a.skip-to-main:focus,
a.skip-to-main:active {
    color: #3371E7; 
}

// Layout

.site-header {
    min-height: 8rem;
}

.site-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem !important;
    font-weight: 500;
    color: #FFFFFF;
}

.site-nav {
    padding-top: 1rem;
}
.post-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: $spacing-unit;

    div {
      flex: 1 1 0;
      
      &:first-child {
        padding-right: 0.5em;
      }
      
      &:last-child {
        padding-left: 0.5em;
        text-align: right;
      }
    }
}

.side-bar {
    background-color: #3371E7;
}

.unsighted {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
  
// Footer

.site-footer {
    display: none;
  }

// Scrollbar

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }